#root {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}

.para {
  background-color: white;
}

.Cont1 {
  /* narrow left column */
  width: 220px;
  min-height: 100vh;
  padding: 12px;
  border: 1px solid black;
}

.Cont2 {
  /* right column should expand to remaining space (Bootstrap .col does this)") */
  padding: 16px;
}
.active-link {
  color: blue;
  font-weight: bold;
}

.inactive-link {
  color: black;
}
