/* .form input {
  margin-left: 2px;
  margin-bottom: 12px;
  width: 250px;
  padding: 6px;
} */

p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
  margin: 8px 0;
}

